#Virtual Environment
venv/

#Flask
instance/*
!instance/.gitignore
.webassets-cache

# Flask.Python Stack
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

dbhost = 'bais-mysql.mysql.database.azure.com'
dbuser = 'f19_msci3300_app@bais-mysql'
dbpass = 'aliq!#LiNE@*;oaf098023L(U)*8cer'
dbname = 'f19_msci3300'
