
{% extends 'base.html' %}
{% block body %}
<h3><a href="{{ url_for('add_Landmark')}}">Add Landmark</a></h3>
{% if landmarks %}
<h2>World Landmarks</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Landmark</th>
          <th>City</th>
          <th>Country</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        {% for row in landmarks %}
        <tr>
          <td> {{ row.LandmarkID }}</td>
          <td> {{ row.LandmarkName }}</td>
          <td> {{ row.City }}</td>
          <td> {{ row.Country}}</td>
          <td>
              <form action="/delete_landmark/{{ row.LandmarkID }}" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger" />
              </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}
{% endblock %}