{% extends 'base.html' %}
{% block body %}
<div>
        <h2>{{ legend }}</h2>

    {% if form %}
    <form method="POST" action="">

        {{ form.csrf_token }}
        {{ form.LandmarkName.label }} {{ form.LandmarkName}}
        {{ form.City.label }} {{ form.City}}
        {{ form.Country.label }} {{ form.Country}}
    
        <input type="submit" value="Update" formaction="{{url_for('update_landmark', LandmarkID=form.LandmarkID)}}">
        <input type="submit" value="Delete" formaction="{{url_for('delete_landmark', LandmarkID=form.LandmarkID)}}">

    </form>
    {% endif %}
</div>
{% endblock %}